<div class="modal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="card">
            <div class="header">
                <button class="close" ng-click="$hide()" type="button">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div activate-input activate-select class="body">
                <form class="form-horizontal" name="modalForm"
                      novalidate role="form">
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-control-label">
                            <label>分组名称</label>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <div class="form-group">
                                <div class="form-line"
                                     ng-class="{ 'focused error' : modalForm.fzmc.$invalid &&  modalForm.$submitted}">
                                    <input class="form-control" name="fzmc" ng-model="modalData.fzmc"
                                           ng-required="true" placeholder="" type="text"/>
                                </div>
                                <label class="error"
                                       ng-show="modalForm.fzmc.$invalid &&  modalForm.$submitted">必填.</label>
                            </div>
                        </div>
                    </div>
                    <div class="form_foot" style="text-align:center">
                        <button class="btn btn-danger" id="submit" ng-click="submitForm(modalForm.$valid)"
                                style="padding:4px 20px 4px 20px"
                                type="submit">保存
                        </button>
                        <button class="btn btn-default" id="cancel" ng-click="$hide()" style="padding:4px 20px 4px 20px"
                                type="button">取消
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>