<div activate-input activate-select class="header search-header"
     style="padding-left: 0px !important;padding-right: 0px;!important;">
    <div class="search-param-panel">
        <div class="search-input">
            <form class="form-horizontal">
                <div class="row clearfix form-inline">
                    <div class="col-lg-3 col-md-3 dj-label">
                        <label>领导集体届次</label>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="form-group">
                            <div class="form-line">
                                <input name="ldjtjc" class="form-control" type="text"
                                       ng-model="selectGradeParams.ldjtjc"
                                       placeholder=""/>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 dj-label">
                        <!--<label>选举方式</label>-->
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="form-group">
                            <div class="form-line">
                                <!--<select class="form-control show-tick" ng-model="selectGradeParams.xjfs"-->
                                        <!--ng-options="type.bm as type.hzmc for type in xjfsdmList"-->
                                        <!--class="form-control"-->
                                        <!--name="xjfs">-->
                                    <!--<option value="" selected>&#45;&#45;全部&#45;&#45;</option>-->
                                <!--</select>-->
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="search-btn" style="margin-right: 20px;">
            <div>
                <button class="btn btn-default1"
                        ng-click="searchGrade()">查询
                </button>
            </div>
        </div>
    </div>
    <div class="search-btn" style="margin-right: 20px;">
        <div style="float: right">
            <button class="btn btn-default1"
                    ng-click="addGrade()">新增
            </button>
        </div>
    </div>
</div>
<div class="body">
    <div class="table-responsive list-table-panel">
        <table class="table table-bordered table-striped table-hover js-basic-example dataTable text-nowrap">
            <thead>
            <tr>
                <th>序号</th>
                <th>党组织名称</th>
                <th>届次</th>
                <!--<th>选举方式</th>-->
                <th>到期换届时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="it in jcDataList">
                <td scope="row" class="text-center">{{$index+1}}</td>
                <td>{{it.DZZMC}}</td>
                <td class="text-center">{{it.LDJTJC}}</td>
                <!--<td>{{it.XJFSMC}}</td>-->
                <!--<td class="text-center">{{partyFBModel.zzlb=='100'?it.GJJMRQ:''}}</td>-->
                <td class="text-center">{{it.GJJMRQ}}</td>
                <td class="text-center">
                    <button
                            class="btn td-btn bg-light-green waves-effect"
                            ng-click="detailGrade(it.BZJCXXBS)"
                            title="查看">
                        查看
                    </button>
                    <button
                            class="btn td-btn bg-light-green waves-effect"
                            ng-click="editGrade(it.BZJCXXBS)"
                            title="修改">
                        修改
                    </button>
                    <button
                            class="btn td-btn bg-pink waves-effect"
                            ng-click="deleteGrade(it.BZJCXXBS)" title="删除">
                        删除
                    </button>
                </td>
            </tr>
            <tr ng-if="jcDataList.length<=0">
                <td colspan="6" style="text-align:center">暂无数据</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>