<span class="title-menu">
    <ol class="breadcrumb gt_breadcrumb">
        <li>
            <a href="javascript:void(0);">
               系统配置
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                角色权限配置
            </a>
        </li>
    </ol>
</span>
<div class="dj-list" style="padding-top: 5px;">
    <div class="dj-list-body">
        <div class="dj-list-content content1">
            <div class="card">
                <div activate-input class="header search-header">
                    <div class="search-param-panel">
                        <div class="search-input">
                            <form class="form-horizontal">
                                <div class="row clearfix form-inline">
                                    <div class="col-lg3 col-md-3 dj-label">
                                        <label>角色名称</label>
                                    </div>
                                    <div class="col-lg3 col-md-3">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" class="form-control" name="roleName"
                                                       ng-model="roleName"
                                                       placeholder=""/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="search-btn" style="margin-right: 20px;">
                            <div>
                                <button role-permission-code="roleList.btnSearch" class="btn btn-default1"
                                        ng-click="selectpage()">
                                    查询
                                </button>
                                <!--<button role-permission-code="roleList.btnAdd" class="btn btn-default1" ng-click="savemodal()">新增-->
                                <!--</button>-->
                            </div>
                        </div>
                    </div>
                    <div class="search-btn" style="margin-right: 20px;">
                        <div style="float: right">
                            <button role-permission-code="roleList.btnAdd" class="btn btn-default1"
                                    ng-click="savemodal()">新增
                            </button>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="list-table-panel">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                            <thead>
                            <tr>
                                <th>角色名称</th>
                                <th>角色描述</th>
                                <th>分组</th>
                                <th>排序</th>
                                <th>数据范围</th>
                                <th class="col-md-3">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="role in roleLists ">
                                <td>{{role.rolename}}</td>
                                <td>{{role.description}}</td>
                                <td>{{role.groupby}}</td>
                                <td>{{role.orderby}}</td>
                                <td>{{role.dicvalue}}</td>
                                <td class="text-center">
                                    <button role-permission-code="roleList.btnUpdate"
                                            class="btn td-btn bg-light-green waves-effect"
                                            title="修改" data-placement="center" data-animation="am-fade-and-scale"
                                            ng-click="editmodal(role.roleid)">
                                        修改
                                    </button>
                                    <button role-permission-code="roleList.btnUser"
                                            class="btn td-btn bg-light-green waves-effect"
                                            title="人员管理" data-placement="center" data-animation="am-fade-and-scale"
                                            ng-click="showModal2(role)">
                                        人员管理
                                    </button>
                                    <button role-permission-code="roleList.btnDelete"
                                            class="btn td-btn bg-pink waves-effect"
                                            title="删除" ng-click="deleteRole(role.roleid)">
                                        删除
                                    </button>
                                    <!--<button role-permission-code="roleList.btnAppMenu"-->
                                            <!--class="btn td-btn bg-pink waves-effect" data-placement="center"-->
                                            <!--title="APP权限" ng-click="showModal3(role)">-->
                                        <!--APP权限-->
                                    <!--</button>-->
                                </td>
                            </tr>
                            <tr ng-if="roleLists.length<=0">
                                <td colspan="5" style="text-align:center">暂无数据</td>
                            </tr>
                            </tbody>
                        </table>
                        <pagination ng-if="finddata.ptotal>0" data-pageindex="finddata.pageindex"
                                    data-pagesize="finddata.pagesize"
                                    data-ptotal="finddata.ptotal"
                                    ng-click="selectPage(finddata.pageindex)"></pagination>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

