<div class="dj-formtable">
    <div class="header" style="padding-top: 0px;">
        <h2 class="demo-icon-container">
            <div class="demo-google-material-icon">
                <span class="main-card-title">创岗建区信息（{{cgjqTotalData.YEAR}}年）</span>
            </div>
        </h2>
    </div>
    <table class="dj-table">
        <tr>
            <th>党员先锋岗数</th>
            <td>
                <a ng-click="showPostArea(1)"> {{cgjqTotalData.POSTCOUNT}}</a>
            </td>
            <th>红旗责任区数</th>
            <td>
                <a ng-click="showPostArea(2)">{{cgjqTotalData.AREACOUNT}}</a>
            </td>
        </tr>
    </table>
    <table style="margin-top: 10px;" class="table table-bordered table-striped table-hover js-basic-example dataTable text-nowrap">
        <thead>
        <tr>
            <th>序号</th>
            <th>季度</th>
            <th>党员先锋岗数</th>
            <th>红旗责任区数</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="it in cgjqTotalList">
            <td scope="row" class="text-center">
                {{$index+1}}
            </td>
            <td class="text-center">{{it.YEAR +'年第'+it.QUARTER+'季度'}}</td>
            <td class="text-center">{{it.POSTCOUNT}}</td>
            <td class="text-center">{{it.AREACOUNT}}</td>
        </tr>
        <tr ng-if="cgjqTotalList.length==0">
            <td colspan="4" style="text-align:center">暂无数据</td>
        </tr>
        </tbody>
    </table>
</div>