<titlemenu></titlemenu>
<div class="dj-list">
    <div class="dj-list-body">
        <div party-tree data-selectdzzdm="selectparams.selectdzzdm" data-selectdzzmc="selectparams.selectdzzmc"
             data-isshowxz="selectparams.isshowxz" data-zzfbtype="selectparams.zzfbType"
             data-defaultselected="selectparams.defaultselected" data-isunfold="selectparams.isunfold"
             data-onlyshowdw="selectparams.onlyshow_dw"></div>
        <div class="dj-list-content">
            <div class="card">
                <div activate-input activate-select class="header search-header">
                    <div fold-partytree data-isunfold="selectparams.isunfold"></div>
                    <div class="search-param-panel">
                        <div class="search-input">
                            <form class="form-horizontal">
                                <div class="row clearfix form-inline">
                                    <div class="col-lg-2 col-md-2 dj-label">
                                        <label>当前选中组织</label>
                                    </div>
                                    <div class="col-lg-2 col-md-2">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <div class="input-group input-group-search">
                                                    <input name="selectdzzmc" type="text" style="min-width: 90px"
                                                           ng-model="selectparams.selectdzzmc" class="form-control"
                                                           ng-disabled="true"/>
                                                    <span class="input-group-addon"
                                                          ng-click="setisunfold()">选择</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 dj-label">
                                        <label>姓名</label>
                                    </div>
                                    <div class="col-lg-2 col-md-2">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input name="name" class="form-control" type="text"
                                                       ng-model="selectparams.userName" ng-keypress="($event.which === 13)?search():0"
                                                       placeholder=""/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 dj-label">
                                        <label>年度</label>
                                    </div>
                                    <div class="col-lg-2 col-md-2">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <select class="form-control show-tick" ng-change="search()"
                                                        ng-model="selectparams.year"
                                                        ng-options="type.dickey as type.dicvalue for type in yearList"
                                                        class="form-control"
                                                        name="year">
                                                    <option value="">--全部--</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="search-btn" style="margin-right: 20px;">
                            <div style="min-width: 13em">
                                <!-- <span class="moreSpan" ng-click="isShowClick()" style='padding-right:2em;cursor:pointer;'>{{moreTxt}}<i class="material-icons" style="position: relative;top:7px;">{{isShow ? 'expand_less' : 'expand_more'}}</i></span>-->
                                <button  class="btn btn-default1"
                                        ng-click="search()">查询
                                </button>
                                <button  class="btn btn-default1 btn-reset"
                                        ng-click="reset()">重置
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="search-btn" style="margin-right: 20px;">
                        <div style="float: right">

                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="zero-list-table-panel">
                        <div class="zero-source-table-div">
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable text-nowrap">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>单位</th>
                                    <th>姓名</th>
                                    <th>党内职务</th>

                                    <th>双重组织生活</th>
                                    <th>民主生活会</th>
                                    <th>日常谈心谈话</th>
                                    <th>下基层讲党课</th>
                                    <th>落实请示报告制度</th>
                                    <th>落实联系点制度</th>
                                    <th>指导联系点党支部组织生活会</th>
                                    <th>指导所属单位党代会或党支部换届</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="it in dataList">
                                    <td scope="row" class="text-center">
                                        {{selectparams.pagesize*(selectparams.pageindex-1)+$index+1}}
                                    </td>
                                    <td>{{it.DZZMC}}</td>
                                    <td>{{it.XM}}</td>
                                    <td class="text-center">{{it.DNZW}}</td>
                                    <td class="text-center"><a ng-click="showData(it.XM,it.RYBM,1)">{{it.NUM_LEADERTYPE1}}</a></td>
                                    <td class="text-center"><a ng-click="showData(it.XM,it.RYBM,2)">{{it.NUM_LEADERTYPE2}}</a></td>
                                    <td class="text-center"><a ng-click="showData(it.XM,it.RYBM,3)">{{it.NUM_LEADERTYPE3}}</a></td>
                                    <td class="text-center"><a ng-click="showData(it.XM,it.RYBM,4)">{{it.NUM_LEADERTYPE4}}</a></td>
                                    <td class="text-center"><a ng-click="showData(it.XM,it.RYBM,5)">{{it.NUM_LEADERTYPE5}}</a></td>
                                    <td class="text-center"><a ng-click="showData(it.XM,it.RYBM,6)">{{it.NUM_LEADERTYPE6}}</a></td>
                                    <td class="text-center"><a ng-click="showData(it.XM,it.RYBM,7)">{{it.NUM_LEADERTYPE7}}</a></td>
                                    <td class="text-center"><a ng-click="showData(it.XM,it.RYBM,8)">{{it.NUM_LEADERTYPE8}}</a></td>
                                </tr>
                                <tr ng-if="pageInfo.ptotal==0">
                                    <td colspan="12" style="text-align:center">暂无数据</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <pagination data-pageindex="selectparams.pageindex" data-pagesize="selectparams.pagesize"
                                data-ptotal="pageInfo.ptotal"></pagination>
                </div>
            </div>
        </div>
    </div>
</div>