<titlemenu></titlemenu>
<div class="dj-list">
    <div class="dj-list-body">
        <div party-tree data-selectdzzdm="selectparams.selectdzzdm" data-selectdzzmc="selectparams.selectdzzmc"
             data-isshowxz="0"
             data-parentcode="selectparams.parentcode"
             data-parentname="selectparams.parentname"
             data-dzzdm="selectparams.szdzzdm" data-userid="selectparams.userid"
             data-dzzmc="selectparams.szdzzmc"
             data-showtogglebtn="true"
             data-onlyshowdw="selectparams.onlyshow_dw"
             data-zzfbtype="selectparams.zzfbType"
             data-isunfold="selectparams.isunfold"
             data-defaultselected="selectparams.defaultselected"
        ></div>
        <div class="dj-list-content">
            <div class="card">
                <div activate-input activate-select class="header search-header">
                    <div fold-partytree data-isunfold="selectparams.isunfold"></div>
                    <div class="search-param-panel">
                        <div class="search-input">
                            <form class="form-horizontal">
                                <div class="row clearfix form-inline">
                                    <div class="col-lg-2 col-md-2 dj-label">
                                        <label>当前选中组织</label>
                                    </div>
                                    <div class="col-lg-2 col-md-2">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <div class="input-group input-group-search">
                                                    <input name="selectdzzmc" type="text" style="min-width: 90px"
                                                           ng-model="selectparams.selectdzzmc" class="form-control"
                                                           ng-disabled="true"/>
                                                    <span class="input-group-addon"
                                                          ng-click="setisunfold()">选择</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 dj-label">
                                        <label>姓名</label>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input name="username" class="form-control" type="text"
                                                       ng-keypress="($event.which === 13)?search():0"
                                                       ng-model="selectparams.username"
                                                       placeholder=""/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 dj-label">
                                        <label>评议结果</label>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <select class="form-control show-tick"
                                                        ng-change="search()"
                                                        ng-model="selectparams.pyjg"
                                                        ng-options="type.BM as type.HZMC for type in pyjgList"
                                                        class="form-control"
                                                        name="pyjg">
                                                    <option value="">--全部--</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix form-inline" ng-show="isShow">

                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 dj-label">
                                        <label>开展评议开始日期</label>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input name="beginTime" class="form-control"
                                                       ng-change="search()"
                                                       autocomplete="off"
                                                       autoclose="true"
                                                       data-date-format="yyyyMMdd" data-date-type="date"
                                                       ng-model="selectparams.beginTime"
                                                       placeholder="" bs-datepicker/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 dj-label">
                                        <label>开展评议结束日期</label>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input name="endTime" class="form-control"
                                                       ng-change="search()"
                                                       autocomplete="off"
                                                       autoclose="true"
                                                       data-date-format="yyyyMMdd" data-date-type="date"
                                                       ng-model="selectparams.endTime"
                                                       placeholder="" bs-datepicker/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="search-btn" style="margin-right: 20px;">
                            <div style="min-width: 13em">
                                <span class="moreSpan" ng-click="isShowClick()"
                                      style='padding-right:1em;cursor:pointer;'>{{moreTxt}}
                                    <i class="material-icons" style="position: relative;top:7px;">{{isShow ? 'expand_less' : 'expand_more'}}</i>
                                </span>
                                <button class="btn btn-default1"
                                        ng-click="search()">查询
                                </button>
                                <button class="btn btn-default1 btn-reset"
                                        ng-click="reset()">重置
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="search-btn" style="margin-right: 20px;">
                        <div style="float: right">
                            <button class="btn  btn-default1"
                                    ng-click="edit()">新增
                            </button>
                            <button class="btn  btn-default1"
                                    ng-click="export()">导出
                            </button>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="zero-list-table-panel">
                        <div class="zero-source-table-div">

                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable text-nowrap">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>所属党组织</th>
                                    <th>姓名</th>
                                    <th>开展评议日期</th>
                                    <th>结束评议日期</th>
                                    <th>评议结果</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="it in dataList">
                                    <td scope="row" class="text-center">
                                        {{selectparams.pagesize*(selectparams.pageindex-1)+$index+1}}
                                    </td>
                                    <td>{{it.DZZMC}}</td>
                                    <td class="text-center">{{it.XM}}</td>
                                    <td class="text-center">{{it.KZPYRQ}}</td>
                                    <td class="text-center">{{it.JSPYRQ}}</td>
                                    <td class="text-center">{{it.PYJGMC}}</td>
                                    <td class="text-center">
                                        <button class="btn td-btn bg-light-green waves-effect"
                                                ng-click="edit(it.MZPYXXBS)"
                                                title="编辑">
                                            编辑
                                        </button>
                                        <button class="btn td-btn bg-pink waves-effect"
                                                ng-click="delete(it.MZPYXXBS)" title="删除">
                                            删除
                                        </button>
                                    </td>
                                </tr>
                                <tr ng-if="pageInfo.ptotal==0">
                                    <td colspan="10" style="text-align:center">暂无数据</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <pagination data-pageindex="selectparams.pageindex" data-pagesize="selectparams.pagesize"
                                data-ptotal="pageInfo.ptotal"></pagination>
                </div>
            </div>
        </div>
    </div>
</div>
