<div id="dicmodal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title">找回密码</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="parkfrom" name="parkfrom"
                      ng-submit="sendPassword(parkfrom.$valid)" novalidate>
                    <table class="table-form table-bordered">
                        <tr>
                            <th><span style="color:red;">*</span>账号：</th>
                            <td>
                                <input type="text" name="uid" ng-model="loginuser.uid" maxlength="100"
                                       class="text" ng-required="true"/>
                                <span style="color:red" ng-show="parkfrom.uid.$dirty && parkfrom.uid.$invalid">
                                   <span ng-show="parkfrom.uid.$error.required">用户名不能为空。</span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th><span style="color:red;">*</span>邮箱：</th>
                            <td>
                                <input type="email" name="email" ng-model="loginuser.email" maxlength="100"
                                       class="text" ng-required="true"/>
                                <span style="color:red" ng-show="parkfrom.email.$dirty && parkfrom.email.$invalid">
                                   <span ng-show="parkfrom.email.$error.required">邮箱不能为空。</span>
                                   <span ng-show="parkfrom.email.$error.email">邮箱格式不正确。</span>
                                </span>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" form="parkfrom">发送</button>
                <!--<button type="button" class="btn btn-default" ng-click="send()">发送</button>-->
            </div>
        </div>
    </div>
</div>