<titlemenu></titlemenu>
<div class="dj-list">
    <div class="dj-list-body">
        <div class="dj-list-content content1">
            <div class="card">
                <div activate-input activate-select class="header search-header">
                    <div class="search-param-panel">
                        <div class="search-input">
                            <form class="form-horizontal">
                                <div class="row clearfix form-inline">
                                    <div class="col-lg-3 col-md-3 dj-label">
                                        <label>党总支名称</label>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input name="dwName" class="form-control" type="text"
                                                       ng-model="selectparams.dwName"
                                                       placeholder=""/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="search-btn" style="margin-right: 20px;">
                            <div>
                                <button class="btn btn-default1"
                                        ng-click="search()">查询
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body" style="min-height:400px;">
                    <div class="zero-list-table-panel">
                        <div class="zero-source-table-div">
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable text-nowrap">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>党总支名称</th>
                                    <th>秘书</th>
                                    <th>所在党支部</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="it in dataList">
                                    <td scope="row" class="text-center">
                                        {{selectparams.pagesize*(selectparams.pageindex-1)+$index+1}}
                                    </td>
                                    <td>{{it.dwName}}</td>
                                    <td>{{it.msName}}</td>
                                    <td>{{it.msDzbName}}</td>
                                </tr>
                                <tr ng-if="dataList.length<=0">
                                    <td colspan="5" style="text-align:center">暂无数据</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="zero-target-table-div">
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable text-nowrap">
                                <thead>
                                <tr>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="it in dataList" zero-table-height>
                                    <td class="text-center">
                                        <button role-permission-code="home.learningSecretaryAdd"
                                                class="btn td-btn bg-light-green waves-effect"
                                                ng-click="editData(it.id,it.dzzdm,it.dwName,it.rydm,it.msName)"
                                                title="更改">
                                            <!--<i class="material-icons td-icon">border_color</i>-->
                                            更改
                                        </button>
                                    </td>
                                </tr>
                                <tr ng-if="pageInfo.ptotal==0">
                                    <td colspan="1" style="text-align:center">无</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <pagination data-pageindex="selectparams.pageindex" data-pagesize="selectparams.pagesize"
                                data-ptotal="pageInfo.ptotal"></pagination>
                </div>
            </div>

        </div>
    </div>
</div>