<div class="panel panel-default formquery-panel-height">
    <div class="panel-heading"><h5>需求提出</h5></div>
    <div class="search-param-panel">
        <form class="form-inline formquery">
            <div class="form-group">
                <label for="ApplyNo">工单流水号：</label>
                <input type="text" class="form-control" name="ApplyNo" ng-model="selectdata.ApplyNo"/>
            </div>
            <div class="form-group">
                <label for="DemandTitle">需求名称：</label>
                <input type="text" class="form-control" ng-model="selectdata.DemandTitle" name="DemandTitle"/>

            </div>
            <div class="form-group">
                <label for="DemandTitle">流程状态：</label>
                <select class="form-control" name="StateOfFlow" required ng-model="selectdata.StateOfFlow"
                        ng-options="op.DicKey as op.DicValue for op in UrgentStatuslist">
                    <option value="">-- 请选择 --</option>
                </select>
            </div>
            <div class="form-group formquery-btns-panel">
                <button type="button" class="btn btn-primary" ng-click="selectpage()">查询</button>
                <button type="button" class="btn btn-primary" data-placement="center" data-animation="am-fade-and-scale"
                        ng-click="goModalEdit('')">新增
                </button>
            </div>
        </form>
    </div>
    <div class="panel-body">
        <table class="table table-bordered tlist">
            <thead>
            <tr>
                <th>工单流水号</th>
                <th>需求名称</th>
                <th>系统</th>
                <th>紧急程度</th>
                <th>期望完成时间</th>
                <th>发起人</th>
                <th>申请时间</th>
                <th>流程状态</th>
                <th class="col-md-1">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="it in items">
                <td>{{it.ApplyNo}}</td>
                <td>{{it.DemandTitle}}</td>
                <td>{{it.SystemName}}</td>
                <td>{{it.UrgentStatusName}}</td>
                <td>{{it.PlanFinishTime}}</td>
                <td>{{it.CreatorName}}</td>
                <td>{{it.ApplyTime}}</td>
                <td>{{it.StateOfFlow}}
                <td>
                    <button class="btn btn-success btn-sm" title="修改" ng-click="goModalEdit(it)">
                        <span class="glyphicon glyphicon-pencil "></span>
                    </button>
                    <button class="btn btn-danger btn-sm" ng-show="it.FlowStep==0" ng-click="deleteit(it.DemandApplyID)"
                            title="删除">
                        <span class="glyphicon glyphicon-remove "></span>
                    </button>
                </td>
            </tr>
            <tr ng-if="items.length<=0">
                <td colspan="9" style="text-align:center">暂无数据</td>
            </tr>
            </tbody>
        </table>
        <!--参数含义：page-Index：当前页面，page-Size：每页显示多少数据，total-Length:数据总长度-->
        <pagination data-pageindex="selectdata.pageindex" data-pagesize="selectdata.pagesize"
                    data-ptotal="selectdata.ptotal"></pagination>
    </div>


</div>
