<div class="aside" tabindex="-1" role="dialog">
    <div class="aside-dialog">
        <div class="aside-content">
            <div class="aside-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title">支付退款</h4>
            </div>
            <div bs-tabs bs-active-pane="data.activeTab">
                <div bs-pane data-title="操作" name="back">
                    <div class="aside-body">
                        <table class="table table-striped">
                            <tr>
                                <th>单号</th>
                                <th>类型</th>
                                <th>状态</th>
                                <th>退款</th>
                            </tr>
                            <tr ng-repeat="it in data.pageList">
                                <td>{{it.payNo}}</td>
                                <td>{{it.payTypeName}}</td>
                                <td>{{it.payStateName}}</td>
                                <td>
                                    <button class="btn-success td-btn" ng-if="it.payState==3&&it.queryConfirm==1"
                                            ng-click="backPay(it)" title="退款">
                                        <span class="glyphicon glyphicon-pencil "></span>
                                    </button>
                                    <span ng-if="it.queryConfirm==0">未验证</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="aside-footer">
                        <pagination data-pageindex="data.pageData.pageindex" data-pagesize="data.pageData.pagesize"
                                    data-ptotal="data.pageData.ptotal"></pagination>
                    </div>
                </div>
                <div bs-pane data-title="日志" name="log">
                    <div class="aside-body">
                        <table class="table table-striped">
                            <tr>
                                <th>退款单号</th>
                                <th>支付单号</th>
                                <th>状态</th>
                            </tr>
                            <tr ng-repeat="it in data.logList">
                                <td>{{it.refundNo}}</td>
                                <td>{{it.payNo}}</td>
                                <td>{{it.applyStateName}}|{{it.queryConfirmName}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="aside-footer">
                        <pagination data-pageindex="data.pageData.pageindex" data-pagesize="data.pageData.pagesize"
                                    data-ptotal="data.pageData.ptotal"></pagination>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>