<!--
<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width:900px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h5 class="modal-title">{{fdata.title}}</h5>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-heading" style="display: flex;justify-content: space-between;">
                        <span>以下列表请重新修改导入</span>
                        <button type="button" class="btn btn-primary" ng-click="excel()">导出</button>
                    </div>
                    <div style="overflow: auto; height: 400px;">
                        <bs-dtable datarows="fdata.items" datacols="fdata.columns" ismulti="false"
                                   showcheckbox="false"></bs-dtable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->

<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 1100px;min-width:1100px !important;">
        <div class="card">
            <div class="header" dragable-header>
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title">{{fdata.title}}</h4>
            </div>
            <div activate-input activate-select class="body">
                <div class="dj-formtable">
                    <div class="panel-heading" style="display: flex;justify-content: space-between;">
                        <span>错误数据列表</span>
                        <button type="button" class="btn btn-primary" ng-click="excel()">导出</button>
                    </div>
                    <div style="overflow: auto; height: 400px;">
                        <bs-dtable datarows="fdata.items" datacols="fdata.columns" ismulti="false"
                                   showcheckbox="false"></bs-dtable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>