<div class="modal text-center" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" style="display: inline-block; width: auto;">
        <div class="modal-content">
            <img ng-src="{{zoomUrl}}">
        </div>
    </div>
</div>
<!--<div class="modal" tabindex="-1" >
    <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">截图查看</h3>
                </div>
                <div class="modal-body">
                   <img class="img-responsive" ng-src="{{zoomUrl}}" style="width: auto; height: auto; max-width: 100%; max-height: 100%;"/>
                </div>
            </div>
    </div>
</div>-->
