<div ng-controller="developmentSys">
    <div class="panel-body">
        <table class="table table-bordered tlist">
            <thead>
            <tr>
                <th style="text-align:center">序号</th>
                <th style="text-align:center">类型</th>
                <th style="text-align:center">功能名称</th>
                <th style="text-align:center">任务负责人</th>
                <th style="text-align:center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="sys in Syslist">
                <td style="text-align:center">{{$index+1}}</td>
                <td style="text-align:center">{{sys.taskTypeName}}</td>
                <td style="text-align:center">{{sys.SysDutyName}}</td>
                <td style="text-align:center">{{sys.taskerName}}</td>
                <td style="text-align:center">
                    <button class="btn btn-success btn-sm" title="查看" data-placement="center"
                            data-animation="am-fade-and-scale" ng-click="editmodal(sys.SysDutyID)"><span
                            class="glyphicon glyphicon-eye-open"></span></button>
                </td>
            </tr>
            <tr ng-if="finddata.ptotal<=0">
                <td colspan="5" style="text-align:center">暂无数据</td>
            </tr>
            </tbody>
        </table>

        <pagination data-pageindex="finddata.pageindex" data-pagesize="finddata.pagesize"
                    data-ptotal="finddata.ptotal"></pagination>
    </div>
</div>
