<!--<div id="usermodal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title">修改密码</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">取消</button>
                <button type="submit" class="btn btn-primary" form="userfrom">保存</button>
            </div>
        </div>
    </div>
</div>-->
<div class="modal" tabindex="-1" role="dialog" style="min-height:500px">
    <div class="modal-dialog" role="document">
        <div class="card">
            <div class="header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h3 class="modal-title">修改密码</h3>
            </div>
            <div class="body">
                <form activate-input class="form-horizontal" role="form" id="userfrom" name="userfrom"
                      autocomplete="off"
                      ng-submit="submitUser(userfrom.$valid)" novalidate>
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2 form-control-label">
                            <label>人员编码</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <input name="dguserid" type="text" ng-model="uservm.userid"
                                           class="form-control"
                                           disabled/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2 form-control-label">
                            <label>登录账号</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <input name="username" type="text" ng-model="uservm.username" class="form-control"
                                           disabled/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2 form-control-label">
                            <label>密码</label>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-3 col-xs-3">
                            <div class="form-group">
                                <div class="form-line"
                                     ng-class="{ 'focused error' : userfrom.pwd_default.$invalid &&  userfrom.$submitted}">
                                    <input type="password" name="pwd_default" ng-model="pwd.pwd_default" maxlength="100"
                                           class="form-control" ng-required="true"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2 form-control-label">
                            <label>确认密码</label>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-3 col-xs-3">
                            <div class="form-group">
                                <div class="form-line"
                                     ng-class="{ 'focused error' : userfrom.pwd_confirm.$invalid &&  userfrom.$submitted}">
                                    <input type="password" name="pwd_confirm" ng-model="pwd.pwd_confirm" maxlength="100"
                                           class="form-control" ng-required="true"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="$hide()">取消</button>
                        <button type="submit" class="btn btn-primary" form="userfrom">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
