<style>
    .mt_topic {
        display: flex;
        flex-flow: wrap;
    }

    .col_margin_bottom_0 {
        margin-bottom: 0px !important;
    }

    .panel-danger {
        border: 1px solid #ddd !important;;
    }

    .panel-group .panel-danger .panel-title {
        background-color: #ddd !important;
        color: #F44336;
    }

</style>
<!--<div class="card">
    <titlemenu data-parentno="parentUrl"></titlemenu>
    <div activate-input activate-select class="body">
        <form class="form-horizontal" role="form" name="editForm" novalidate>
            <h2 class="card-inside-title">方案详情</h2>
            <div class="tableform">
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-control-label col_margin_bottom_0">
                        <label>所属党总支 :</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col_margin_bottom_0">
                        <div class="form-group form-group-group">
                            <span>{{changevm.dwName}}</span>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-control-label col_margin_bottom_0">
                        <label>所属计划 :</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col_margin_bottom_0">
                        <div class="form-group form-group-group">
                            <span>{{changevm.planName}}</span>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-control-label col_margin_bottom_0">
                        <label>方案名称 :</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col_margin_bottom_0">
                        <div class="form-group form-group-group">
                            <span>{{changevm.caseName}}</span>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-control-label col_margin_bottom_0">
                        <label>学习地点 :</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col_margin_bottom_0">
                        <div class="form-group form-group-group">
                            <span>{{changevm.studyAddress}}</span>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-control-label col_margin_bottom_0">
                        <label>主持人 :</label>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col_margin_bottom_0">
                        <div class="form-group form-group-group">
                            <span>{{changevm.hostUserName}}</span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-control-label col_margin_bottom_0">
                        <label>重点发言人:</label>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col_margin_bottom_0">
                        <div class="form-group form-group-group">
                            <span>{{vipUserNames}}</span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-control-label col_margin_bottom_0">
                        <label>补充发言人:</label>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col_margin_bottom_0">
                        <div class="form-group form-group-group">
                            <span>{{supplementUserNames}}</span>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-control-label col_margin_bottom_0">
                        <label>审定时间 :</label>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col_margin_bottom_0">
                        <div class="form-group form-group-group">
                            <span>{{changevm.examineTime}}</span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-control-label col_margin_bottom_0">
                        <label>审定意见 :</label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col_margin_bottom_0">
                        <div class="form-group form-group-group">
                            <span>{{changevm.opinion}}</span>
                        </div>
                    </div>

                </div>
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-control-label col_margin_bottom_0">
                        <label>扩大范围 :</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col_margin_bottom_0">
                        <div class="form-group form-group-group">
                            <span>{{changevm.expandScope}}</span>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-control-label col_margin_bottom_0">
                        <label>学习内容 :</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <div class="form-group form-group-group">
                            <span>{{changevm.studyContent}}</span>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-control-label col_margin_bottom_0">
                        <label>学习总结 :</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <div class="form-group form-group-group">
                            <span>{{changevm.summary}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive list-table-panel" style="font-size: 16px; margin-bottom: 20px;">
                <bsfiles ng-model="reqFileModel"/>
            </div>
            <div class="table-responsive list-table-panel" style="font-size: 16px">
                <div class="list-table-title">
                    <div class="table-title">
                        学习考勤
                    </div>
                </div>
                <div class="outoflow" style="max-height: 300px;">
                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable text-nowrap">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>姓名</th>
                            <th>职务</th>
                            <th>是否参加</th>
                            <th>缺席原因</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="it in receiveDWs">
                            <th scope="row">{{$index+1}}</th>
                            <th>{{it.leaderUserName}}</th>
                            <th>{{it.post}}</th>
                            <th>{{it.absent==1?'否':'是'}}</th>
                            <th>{{it.absentReason}}</th>
                        </tr>
                        <tr ng-if="receiveDWs.length<=0">
                            <td colspan="5" style="text-align:center">暂无数据</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form_foot">
                <button type="button" class="btn btn-default" ng-click="pagechange();">返回</button>
            </div>
        </form>
    </div>
</div>-->

<titlemenu></titlemenu>
<div class="dj-card">
    <div class="dj-body" activate-input activate-select>
        <form role="form" name="editForm" novalidate>
            <div panel-title data-title="'方案详情'"></div>
            <div class="dj-formtable">
                <table class="dj-table">
                    <tr>
                        <th>
                            所属党总支
                        </th>
                        <td colspan="3">
                            {{changevm.dwName}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            所属计划
                        </th>
                        <td colspan="3">
                            {{changevm.planName}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            方案名称
                        </th>
                        <td colspan="3">
                            {{changevm.caseName}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            学习地点
                        </th>
                        <td>
                            {{changevm.studyAddress}}
                        </td>
                        <th>
                            主持人
                        </th>
                        <td>
                            {{changevm.hostUserName}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            重点发言人
                        </th>
                        <td>
                            {{vipUserNames}}
                        </td>
                        <th>
                            补充发言人
                        </th>
                        <td>
                            {{supplementUserNames}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            审定时间
                        </th>
                        <td>
                            {{changevm.examineTime}}
                        </td>
                        <th>
                            审定意见
                        </th>
                        <td>
                            {{changevm.opinion}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            扩大范围
                        </th>
                        <td colspan="3">
                            {{changevm.expandScope}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            学习内容
                        </th>
                        <td colspan="3">
                            {{changevm.studyContent}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            学习总结
                        </th>
                        <td colspan="3">
                            {{changevm.summary}}
                        </td>
                    </tr>
                </table>
            </div>
            <bsfiles ng-model="reqFileModel"/>
            <div class="dj-formtable">
                <div class="table-responsive list-table-panel">
                    <div class="list-table-title">
                        <div class="table-title">
                            学习考勤
                        </div>
                    </div>
                    <div class="outoflow" style="max-height: 500px;">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable text-nowrap">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>姓名</th>
                                <th>职务</th>
                                <th>是否参加</th>
                                <th>缺席原因</th>
                                <th ng-if="changevm.studyModalityCode==1">重点发言次数</th>
                                <th>发言成果</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="it in receiveDWs">
                                <th scope="row">{{$index+1}}</th>
                                <th>{{it.leadeUserName}}</th>
                                <th>{{it.post}}</th>
                                <th>{{it.absent==1?'否':'是'}}</th>
                                <th>{{it.absentReason}}</th>
                                <th ng-if="changevm.studyModalityCode==1">{{it.speaknumber}}</th>
                                <th><singlefile data-id="it.id" data-readonly="true"></singlefile></th>
                            </tr>
                            <tr ng-if="receiveDWs.length<=0">
                                <td colspan="5" style="text-align:center">暂无数据</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="form_foot">
                <button type="button" class="btn btn-default" ng-click="pagechange();">返回</button>
            </div>
        </form>
    </div>
</div>