<div activate-input activate-select class="header search-header">
    <div fold-partytree data-isunfold="selectparams.isunfold"></div>
    <div class="search-param-panel">
        <div class="search-input">
            <form class="form-horizontal">
                <div class="row clearfix form-inline">
                    <div class="col-lg-2 col-md-2 dj-label">
                        <label>当前选中组织</label>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <div class="form-group">
                            <div class="form-line">
                                <div class="input-group input-group-search">
                                    <input name="selectdzzmc" type="text" style="min-width: 90px"
                                           ng-model="selectparams.selectdzzmc" class="form-control"
                                           ng-disabled="true"/>
                                    <span class="input-group-addon"
                                          ng-click="setisunfold()">选择</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 dj-label">
                        <label>年度</label>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <div class="form-group">
                            <div class="form-line">
                                <select class="form-control show-tick" ng-model="area_selectparams.year" ng-change="search(2)"
                                        ng-options="type.dickey as type.dicvalue for type in yearList"
                                        class="form-control"
                                        name="year">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 dj-label">
                        <label>季度</label>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <div class="form-group">
                            <div class="form-line">
                                <select class="form-control show-tick" ng-model="area_selectparams.quarter" ng-change="search(2)"
                                        ng-options="type.dickey as type.dicvalue for type in quarterList"
                                        class="form-control"
                                        name="quarter">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="search-btn" style="margin-right: 20px;">
            <div style="min-width: 13em">
                <!--<span class="moreSpan" ng-click="isShowClick()" style='padding-right:2em;cursor:pointer;'>{{moreTxt}}<i class="material-icons" style="position: relative;top:7px;">{{isShow ? 'expand_less' : 'expand_more'}}</i></span>-->
                <button  class="btn btn-default1"
                        ng-click="search(2)">查询
                </button>
                <button  class="btn btn-default1 btn-reset"
                        ng-click="reset()">重置
                </button>
                <!-- <button role-permission-code="scoreSortList.btnExport" class="btn btn-default1"
                         ng-click="exportData(2)">导出
                 </button>-->
            </div>
        </div>
    </div>
    <div class="search-btn" style="margin-right: 20px;">
        <!--<div selected-partyname data-selectdzzmc="selectparams.selectdzzmc"></div>-->
        <div style="float: right">
            <button role-permission-code="scoreSortList.btnExport" class="btn btn-default1"
                    ng-click="exportData(2)">导出
            </button>
        </div>
    </div>
</div>
<div class="body">
    <div class="table-responsive list-table-panel">
        <table class="table table-bordered table-striped table-hover js-basic-example dataTable text-nowrap">
            <thead>
            <tr>
                <th>序号</th>
                <th>责任区名称</th>
                <th>负责人</th>
                <th>所在党支部</th>
                <th>年度（季度）</th>
                <th>季度积分</th>
                <th>排名</th>
                <th>评定等级</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="it in area_dataList">
                <td scope="row" class="text-center">{{$index+1}}</td>
                <td>{{it.NAME}}</td>
                <td>{{it.HEADUSERNAME}}</td>
                <td>{{it.PARTYNAME}}</td>
                <td>{{it.YEAR}}（{{it.QUARTER}}）</td>
                <td>{{it.SCORE}}</td>
                <td>{{it.ORDERID}}</td>
                <td>
                    <select class="form-control show-tick"
                            ng-model="it.SCORELEVEL"
                            ng-options="type.dickey as type.dicvalue for type in scoreLevelList"
                            class="form-control"
                            name="SCORELEVEL_{{$index}}">
                    </select>
                </td>
                <td class="text-center">
                    <button
                            class="btn td-btn bg-light-green waves-effect"
                            ng-click="showData(it.POSTAREASCOREID,it.CGJQTYPE)"
                            title="查看">
                        查看
                    </button>
                    <button ng-if="it.SCORELEVEL!=null"
                            role-permission-code="scoreSortList.btnApplyExport"
                            class="btn td-btn bg-pink waves-effect"
                            ng-click="export(it.POSTAREASCOREID,it.CGJQTYPE)" title="导出申报表">
                        导出申报表
                    </button>
                </td>
            </tr>
            <tr ng-if="area_dataList.length<=0">
                <td colspan="9" style="text-align:center">暂无数据</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>