<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 1100px;">
        <div class="card">
            <div class="header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h3 class="modal-title">{{params.title}}</h3>
            </div>
            <div activate-input class="body">
                <form class="form-horizontal" role="form" id="partyform"
                      name="partyform" ng-submit="submitDZX(partyform.$valid)" novalidate>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 form-control-label">
                            <label style="font-size: 17px">上级党组织代码</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-8 col-xs-8">
                            <div class="form-group form-group-group">
                                <span style="font-size: 17px">{{parentParty.dzzdm}}</span>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 form-control-label">
                            <label style="font-size: 17px">上级党组织名称</label>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-8 col-xs-8">
                            <div class="form-group form-group-group">
                                <span style="font-size: 17px">{{parentParty.dzzmc}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 form-control-label">
                            <label style="font-size: 17px">党小组代码</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-8 col-xs-8">
                            <div class="form-group">
                                <div class="form-group-group">
                                    <span style="font-size: 17px">{{parentParty.dzzdm}}</span>
                                    <div class="form-line"
                                         ng-class="{ 'focused error' : partyform.dzzdm.$invalid &&  partyform.$submitted}">
                                        <input type="text" name="dzzdm" ng-model="dzzdm_short" maxlength="3" style="font-size: 17px"
                                               class="form-control" ng-required="true"
                                               ng-pattern="/^[a-zA-Z0-9]{3}$/"
                                        />
                                    </div>
                                </div>
                                <label ng-show="partyform.dzzdm.$invalid &&  partyform.$submitted && partyform.dzzdm.$error.pattern"
                                       class="error">请输入三位由数字、字母任意组合的代码.</label>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 form-control-label">
                            <label style="font-size: 17px">党小组名称</label>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-8 col-xs-8">
                            <div class="form-group">
                                <div class="form-line"
                                     ng-class="{ 'focused error' : partyform.dzzmc.$invalid &&  partyform.$submitted}">
                                    <input type="text" name="dzzmc" ng-model="partyvm.dzzmc" maxlength="50" style="font-size: 17px"
                                           class="form-control" ng-required="true"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive list-table-panel" style="font-size: 16px">
                        <div class="list-table-title">
                            <div class="table-title" >
                                党小组成员
                            </div>
                            <div class="table-tool">
                                <button type="button" class="btn btn-primary dropdown-toggle"
                                        data-dataoptions="selectUserlist" title="选择成员"
                                        ng-click="selectUser()"
                                        bsselectdata-pro>
                                    <span></span>选择成员
                                </button>
                            </div>
                        </div>
                        <div class="outoflow" style="max-height: 300px;">
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable text-nowrap">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>党员姓名</th>
                                    <th>所在组织机构</th>
                                    <th>性别</th>
                                    <th>身份证</th>
                                    <th>籍贯</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="it in userList">
                                    <th scope="row">{{$index+1}}</th>
                                    <th>{{it.XM}}</th>
                                    <th>{{it.DZZMC}}</th>
                                    <th>{{it.XBMC}}</th>
                                    <th>{{it.SFZH}}</th>
                                    <th>{{it.JG}}</th>
                                    <th class="text-center">
                                        <button class="btn td-btn bg-pink waves-effect"
                                                ng-click="deleteUser($index)" title="删除">
                                            <!--<i class="material-icons td-icon">delete_forever</i>-->
                                            删除
                                        </button>
                                    </th>
                                </tr>
                                <tr ng-if="userList.length<=0">
                                    <td colspan="7" style="text-align:center">暂无数据</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form_foot">
                        <button type="button" class="btn btn-default" ng-click="$hide()">取消</button>
                        <button type="submit" class="btn btn-primary" form="partyform">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>