<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.px.partybuild.mapper.PeFlowMapper">
  <resultMap id="BaseResultMap" type="com.px.partybuild.model.PeFlow">
    <id column="FLOWID" jdbcType="VARCHAR" property="flowid" />
    <result column="FLOWNAME" jdbcType="VARCHAR" property="flowname" />
    <result column="PARENTID" jdbcType="VARCHAR" property="parentid" />
    <result column="SORT" jdbcType="DECIMAL" property="sort" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
    <result column="WARNUPFLOWID" jdbcType="VARCHAR" property="warnupflowid" />
    <result column="WARNDAYS" jdbcType="DECIMAL" property="warndays" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="CREATEUSERID" jdbcType="VARCHAR" property="createuserid" />
    <result column="CREATEUSERNAME" jdbcType="VARCHAR" property="createusername" />
    <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="UPDATEUSERID" jdbcType="VARCHAR" property="updateuserid" />
    <result column="UPDATEUSERNAME" jdbcType="VARCHAR" property="updateusername" />
    <result column="OPERATETIME" jdbcType="TIMESTAMP" property="operatetime" />
    <result column="OPERATESTATE" jdbcType="VARCHAR" property="operatestate" />
    <result column="SYNCSTATE" jdbcType="VARCHAR" property="syncstate" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.px.partybuild.model.PeFlowWithBLOBs">
    <result column="GUIDELINES" jdbcType="LONGVARCHAR" property="guidelines" />
    <result column="APPGUIDELINES" jdbcType="LONGVARCHAR" property="appguidelines" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    FLOWID, FLOWNAME, PARENTID, SORT, URL, WARNUPFLOWID, WARNDAYS, CREATETIME, CREATEUSERID, 
    CREATEUSERNAME, UPDATETIME, UPDATEUSERID, UPDATEUSERNAME, OPERATETIME, OPERATESTATE, 
    SYNCSTATE
  </sql>
  <sql id="Blob_Column_List">
    GUIDELINES, APPGUIDELINES
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.px.partybuild.model.PeFlowExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from pe_flow
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.px.partybuild.model.PeFlowExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pe_flow
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from pe_flow
    where FLOWID = #{flowid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from pe_flow
    where FLOWID = #{flowid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.px.partybuild.model.PeFlowExample">
    delete from pe_flow
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.px.partybuild.model.PeFlowWithBLOBs">
    insert into pe_flow (FLOWID, FLOWNAME, PARENTID, 
      SORT, URL, WARNUPFLOWID, 
      WARNDAYS, CREATETIME, CREATEUSERID, 
      CREATEUSERNAME, UPDATETIME, UPDATEUSERID, 
      UPDATEUSERNAME, OPERATETIME, OPERATESTATE, 
      SYNCSTATE, GUIDELINES, APPGUIDELINES
      )
    values (#{flowid,jdbcType=VARCHAR}, #{flowname,jdbcType=VARCHAR}, #{parentid,jdbcType=VARCHAR}, 
      #{sort,jdbcType=DECIMAL}, #{url,jdbcType=VARCHAR}, #{warnupflowid,jdbcType=VARCHAR}, 
      #{warndays,jdbcType=DECIMAL}, #{createtime,jdbcType=TIMESTAMP}, #{createuserid,jdbcType=VARCHAR}, 
      #{createusername,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}, #{updateuserid,jdbcType=VARCHAR}, 
      #{updateusername,jdbcType=VARCHAR}, #{operatetime,jdbcType=TIMESTAMP}, #{operatestate,jdbcType=VARCHAR}, 
      #{syncstate,jdbcType=VARCHAR}, #{guidelines,jdbcType=LONGVARCHAR}, #{appguidelines,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.px.partybuild.model.PeFlowWithBLOBs">
    insert into pe_flow
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="flowid != null">
        FLOWID,
      </if>
      <if test="flowname != null">
        FLOWNAME,
      </if>
      <if test="parentid != null">
        PARENTID,
      </if>
      <if test="sort != null">
        SORT,
      </if>
      <if test="url != null">
        URL,
      </if>
      <if test="warnupflowid != null">
        WARNUPFLOWID,
      </if>
      <if test="warndays != null">
        WARNDAYS,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="createuserid != null">
        CREATEUSERID,
      </if>
      <if test="createusername != null">
        CREATEUSERNAME,
      </if>
      <if test="updatetime != null">
        UPDATETIME,
      </if>
      <if test="updateuserid != null">
        UPDATEUSERID,
      </if>
      <if test="updateusername != null">
        UPDATEUSERNAME,
      </if>
      <if test="operatetime != null">
        OPERATETIME,
      </if>
      <if test="operatestate != null">
        OPERATESTATE,
      </if>
      <if test="syncstate != null">
        SYNCSTATE,
      </if>
      <if test="guidelines != null">
        GUIDELINES,
      </if>
      <if test="appguidelines != null">
        APPGUIDELINES,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="flowid != null">
        #{flowid,jdbcType=VARCHAR},
      </if>
      <if test="flowname != null">
        #{flowname,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=DECIMAL},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="warnupflowid != null">
        #{warnupflowid,jdbcType=VARCHAR},
      </if>
      <if test="warndays != null">
        #{warndays,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuserid != null">
        #{createuserid,jdbcType=VARCHAR},
      </if>
      <if test="createusername != null">
        #{createusername,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuserid != null">
        #{updateuserid,jdbcType=VARCHAR},
      </if>
      <if test="updateusername != null">
        #{updateusername,jdbcType=VARCHAR},
      </if>
      <if test="operatetime != null">
        #{operatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="operatestate != null">
        #{operatestate,jdbcType=VARCHAR},
      </if>
      <if test="syncstate != null">
        #{syncstate,jdbcType=VARCHAR},
      </if>
      <if test="guidelines != null">
        #{guidelines,jdbcType=LONGVARCHAR},
      </if>
      <if test="appguidelines != null">
        #{appguidelines,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.px.partybuild.model.PeFlowExample" resultType="java.lang.Long">
    select count(*) from pe_flow
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pe_flow
    <set>
      <if test="record.flowid != null">
        FLOWID = #{record.flowid,jdbcType=VARCHAR},
      </if>
      <if test="record.flowname != null">
        FLOWNAME = #{record.flowname,jdbcType=VARCHAR},
      </if>
      <if test="record.parentid != null">
        PARENTID = #{record.parentid,jdbcType=VARCHAR},
      </if>
      <if test="record.sort != null">
        SORT = #{record.sort,jdbcType=DECIMAL},
      </if>
      <if test="record.url != null">
        URL = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.warnupflowid != null">
        WARNUPFLOWID = #{record.warnupflowid,jdbcType=VARCHAR},
      </if>
      <if test="record.warndays != null">
        WARNDAYS = #{record.warndays,jdbcType=DECIMAL},
      </if>
      <if test="record.createtime != null">
        CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createuserid != null">
        CREATEUSERID = #{record.createuserid,jdbcType=VARCHAR},
      </if>
      <if test="record.createusername != null">
        CREATEUSERNAME = #{record.createusername,jdbcType=VARCHAR},
      </if>
      <if test="record.updatetime != null">
        UPDATETIME = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateuserid != null">
        UPDATEUSERID = #{record.updateuserid,jdbcType=VARCHAR},
      </if>
      <if test="record.updateusername != null">
        UPDATEUSERNAME = #{record.updateusername,jdbcType=VARCHAR},
      </if>
      <if test="record.operatetime != null">
        OPERATETIME = #{record.operatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.operatestate != null">
        OPERATESTATE = #{record.operatestate,jdbcType=VARCHAR},
      </if>
      <if test="record.syncstate != null">
        SYNCSTATE = #{record.syncstate,jdbcType=VARCHAR},
      </if>
      <if test="record.guidelines != null">
        GUIDELINES = #{record.guidelines,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.appguidelines != null">
        APPGUIDELINES = #{record.appguidelines,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update pe_flow
    set FLOWID = #{record.flowid,jdbcType=VARCHAR},
      FLOWNAME = #{record.flowname,jdbcType=VARCHAR},
      PARENTID = #{record.parentid,jdbcType=VARCHAR},
      SORT = #{record.sort,jdbcType=DECIMAL},
      URL = #{record.url,jdbcType=VARCHAR},
      WARNUPFLOWID = #{record.warnupflowid,jdbcType=VARCHAR},
      WARNDAYS = #{record.warndays,jdbcType=DECIMAL},
      CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      CREATEUSERID = #{record.createuserid,jdbcType=VARCHAR},
      CREATEUSERNAME = #{record.createusername,jdbcType=VARCHAR},
      UPDATETIME = #{record.updatetime,jdbcType=TIMESTAMP},
      UPDATEUSERID = #{record.updateuserid,jdbcType=VARCHAR},
      UPDATEUSERNAME = #{record.updateusername,jdbcType=VARCHAR},
      OPERATETIME = #{record.operatetime,jdbcType=TIMESTAMP},
      OPERATESTATE = #{record.operatestate,jdbcType=VARCHAR},
      SYNCSTATE = #{record.syncstate,jdbcType=VARCHAR},
      GUIDELINES = #{record.guidelines,jdbcType=LONGVARCHAR},
      APPGUIDELINES = #{record.appguidelines,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pe_flow
    set FLOWID = #{record.flowid,jdbcType=VARCHAR},
      FLOWNAME = #{record.flowname,jdbcType=VARCHAR},
      PARENTID = #{record.parentid,jdbcType=VARCHAR},
      SORT = #{record.sort,jdbcType=DECIMAL},
      URL = #{record.url,jdbcType=VARCHAR},
      WARNUPFLOWID = #{record.warnupflowid,jdbcType=VARCHAR},
      WARNDAYS = #{record.warndays,jdbcType=DECIMAL},
      CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      CREATEUSERID = #{record.createuserid,jdbcType=VARCHAR},
      CREATEUSERNAME = #{record.createusername,jdbcType=VARCHAR},
      UPDATETIME = #{record.updatetime,jdbcType=TIMESTAMP},
      UPDATEUSERID = #{record.updateuserid,jdbcType=VARCHAR},
      UPDATEUSERNAME = #{record.updateusername,jdbcType=VARCHAR},
      OPERATETIME = #{record.operatetime,jdbcType=TIMESTAMP},
      OPERATESTATE = #{record.operatestate,jdbcType=VARCHAR},
      SYNCSTATE = #{record.syncstate,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.px.partybuild.model.PeFlowWithBLOBs">
    update pe_flow
    <set>
      <if test="flowname != null">
        FLOWNAME = #{flowname,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        PARENTID = #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        SORT = #{sort,jdbcType=DECIMAL},
      </if>
      <if test="url != null">
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="warnupflowid != null">
        WARNUPFLOWID = #{warnupflowid,jdbcType=VARCHAR},
      </if>
      <if test="warndays != null">
        WARNDAYS = #{warndays,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuserid != null">
        CREATEUSERID = #{createuserid,jdbcType=VARCHAR},
      </if>
      <if test="createusername != null">
        CREATEUSERNAME = #{createusername,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuserid != null">
        UPDATEUSERID = #{updateuserid,jdbcType=VARCHAR},
      </if>
      <if test="updateusername != null">
        UPDATEUSERNAME = #{updateusername,jdbcType=VARCHAR},
      </if>
      <if test="operatetime != null">
        OPERATETIME = #{operatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="operatestate != null">
        OPERATESTATE = #{operatestate,jdbcType=VARCHAR},
      </if>
      <if test="syncstate != null">
        SYNCSTATE = #{syncstate,jdbcType=VARCHAR},
      </if>
      <if test="guidelines != null">
        GUIDELINES = #{guidelines,jdbcType=LONGVARCHAR},
      </if>
      <if test="appguidelines != null">
        APPGUIDELINES = #{appguidelines,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where FLOWID = #{flowid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.px.partybuild.model.PeFlowWithBLOBs">
    update pe_flow
    set FLOWNAME = #{flowname,jdbcType=VARCHAR},
      PARENTID = #{parentid,jdbcType=VARCHAR},
      SORT = #{sort,jdbcType=DECIMAL},
      URL = #{url,jdbcType=VARCHAR},
      WARNUPFLOWID = #{warnupflowid,jdbcType=VARCHAR},
      WARNDAYS = #{warndays,jdbcType=DECIMAL},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      CREATEUSERID = #{createuserid,jdbcType=VARCHAR},
      CREATEUSERNAME = #{createusername,jdbcType=VARCHAR},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      UPDATEUSERID = #{updateuserid,jdbcType=VARCHAR},
      UPDATEUSERNAME = #{updateusername,jdbcType=VARCHAR},
      OPERATETIME = #{operatetime,jdbcType=TIMESTAMP},
      OPERATESTATE = #{operatestate,jdbcType=VARCHAR},
      SYNCSTATE = #{syncstate,jdbcType=VARCHAR},
      GUIDELINES = #{guidelines,jdbcType=LONGVARCHAR},
      APPGUIDELINES = #{appguidelines,jdbcType=LONGVARCHAR}
    where FLOWID = #{flowid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.px.partybuild.model.PeFlow">
    update pe_flow
    set FLOWNAME = #{flowname,jdbcType=VARCHAR},
      PARENTID = #{parentid,jdbcType=VARCHAR},
      SORT = #{sort,jdbcType=DECIMAL},
      URL = #{url,jdbcType=VARCHAR},
      WARNUPFLOWID = #{warnupflowid,jdbcType=VARCHAR},
      WARNDAYS = #{warndays,jdbcType=DECIMAL},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      CREATEUSERID = #{createuserid,jdbcType=VARCHAR},
      CREATEUSERNAME = #{createusername,jdbcType=VARCHAR},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      UPDATEUSERID = #{updateuserid,jdbcType=VARCHAR},
      UPDATEUSERNAME = #{updateusername,jdbcType=VARCHAR},
      OPERATETIME = #{operatetime,jdbcType=TIMESTAMP},
      OPERATESTATE = #{operatestate,jdbcType=VARCHAR},
      SYNCSTATE = #{syncstate,jdbcType=VARCHAR}
    where FLOWID = #{flowid,jdbcType=VARCHAR}
  </update>
</mapper>