<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.px.partybuild.mapper.PeWordtemplateMapper">
  <resultMap id="BaseResultMap" type="com.px.partybuild.model.PeWordtemplate">
    <id column="WORDTEMPLATEID" jdbcType="VARCHAR" property="wordtemplateid" />
    <result column="FLOWID" jdbcType="VARCHAR" property="flowid" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="SORT" jdbcType="DECIMAL" property="sort" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="CREATEUSERID" jdbcType="VARCHAR" property="createuserid" />
    <result column="CREATEUSERNAME" jdbcType="VARCHAR" property="createusername" />
    <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="UPDATEUSERID" jdbcType="VARCHAR" property="updateuserid" />
    <result column="UPDATEUSERNAME" jdbcType="VARCHAR" property="updateusername" />
    <result column="OPERATETIME" jdbcType="TIMESTAMP" property="operatetime" />
    <result column="OPERATESTATE" jdbcType="VARCHAR" property="operatestate" />
    <result column="SYNCSTATE" jdbcType="VARCHAR" property="syncstate" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.px.partybuild.model.PeWordtemplate">
    <result column="TEMPLATE" jdbcType="LONGVARCHAR" property="template" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    WORDTEMPLATEID, FLOWID, TITLE, SORT, CREATETIME, CREATEUSERID, CREATEUSERNAME, UPDATETIME, 
    UPDATEUSERID, UPDATEUSERNAME, OPERATETIME, OPERATESTATE, SYNCSTATE
  </sql>
  <sql id="Blob_Column_List">
    TEMPLATE
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.px.partybuild.model.PeWordtemplateExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from pe_wordtemplate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.px.partybuild.model.PeWordtemplateExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pe_wordtemplate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from pe_wordtemplate
    where WORDTEMPLATEID = #{wordtemplateid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from pe_wordtemplate
    where WORDTEMPLATEID = #{wordtemplateid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.px.partybuild.model.PeWordtemplateExample">
    delete from pe_wordtemplate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.px.partybuild.model.PeWordtemplate">
    insert into pe_wordtemplate (WORDTEMPLATEID, FLOWID, TITLE, 
      SORT, CREATETIME, CREATEUSERID, 
      CREATEUSERNAME, UPDATETIME, UPDATEUSERID, 
      UPDATEUSERNAME, OPERATETIME, OPERATESTATE, 
      SYNCSTATE, TEMPLATE)
    values (#{wordtemplateid,jdbcType=VARCHAR}, #{flowid,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{sort,jdbcType=DECIMAL}, #{createtime,jdbcType=TIMESTAMP}, #{createuserid,jdbcType=VARCHAR}, 
      #{createusername,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}, #{updateuserid,jdbcType=VARCHAR}, 
      #{updateusername,jdbcType=VARCHAR}, #{operatetime,jdbcType=TIMESTAMP}, #{operatestate,jdbcType=VARCHAR}, 
      #{syncstate,jdbcType=VARCHAR}, #{template,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.px.partybuild.model.PeWordtemplate">
    insert into pe_wordtemplate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="wordtemplateid != null">
        WORDTEMPLATEID,
      </if>
      <if test="flowid != null">
        FLOWID,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="sort != null">
        SORT,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="createuserid != null">
        CREATEUSERID,
      </if>
      <if test="createusername != null">
        CREATEUSERNAME,
      </if>
      <if test="updatetime != null">
        UPDATETIME,
      </if>
      <if test="updateuserid != null">
        UPDATEUSERID,
      </if>
      <if test="updateusername != null">
        UPDATEUSERNAME,
      </if>
      <if test="operatetime != null">
        OPERATETIME,
      </if>
      <if test="operatestate != null">
        OPERATESTATE,
      </if>
      <if test="syncstate != null">
        SYNCSTATE,
      </if>
      <if test="template != null">
        TEMPLATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="wordtemplateid != null">
        #{wordtemplateid,jdbcType=VARCHAR},
      </if>
      <if test="flowid != null">
        #{flowid,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuserid != null">
        #{createuserid,jdbcType=VARCHAR},
      </if>
      <if test="createusername != null">
        #{createusername,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuserid != null">
        #{updateuserid,jdbcType=VARCHAR},
      </if>
      <if test="updateusername != null">
        #{updateusername,jdbcType=VARCHAR},
      </if>
      <if test="operatetime != null">
        #{operatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="operatestate != null">
        #{operatestate,jdbcType=VARCHAR},
      </if>
      <if test="syncstate != null">
        #{syncstate,jdbcType=VARCHAR},
      </if>
      <if test="template != null">
        #{template,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.px.partybuild.model.PeWordtemplateExample" resultType="java.lang.Long">
    select count(*) from pe_wordtemplate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pe_wordtemplate
    <set>
      <if test="record.wordtemplateid != null">
        WORDTEMPLATEID = #{record.wordtemplateid,jdbcType=VARCHAR},
      </if>
      <if test="record.flowid != null">
        FLOWID = #{record.flowid,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null">
        TITLE = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.sort != null">
        SORT = #{record.sort,jdbcType=DECIMAL},
      </if>
      <if test="record.createtime != null">
        CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createuserid != null">
        CREATEUSERID = #{record.createuserid,jdbcType=VARCHAR},
      </if>
      <if test="record.createusername != null">
        CREATEUSERNAME = #{record.createusername,jdbcType=VARCHAR},
      </if>
      <if test="record.updatetime != null">
        UPDATETIME = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateuserid != null">
        UPDATEUSERID = #{record.updateuserid,jdbcType=VARCHAR},
      </if>
      <if test="record.updateusername != null">
        UPDATEUSERNAME = #{record.updateusername,jdbcType=VARCHAR},
      </if>
      <if test="record.operatetime != null">
        OPERATETIME = #{record.operatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.operatestate != null">
        OPERATESTATE = #{record.operatestate,jdbcType=VARCHAR},
      </if>
      <if test="record.syncstate != null">
        SYNCSTATE = #{record.syncstate,jdbcType=VARCHAR},
      </if>
      <if test="record.template != null">
        TEMPLATE = #{record.template,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update pe_wordtemplate
    set WORDTEMPLATEID = #{record.wordtemplateid,jdbcType=VARCHAR},
      FLOWID = #{record.flowid,jdbcType=VARCHAR},
      TITLE = #{record.title,jdbcType=VARCHAR},
      SORT = #{record.sort,jdbcType=DECIMAL},
      CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      CREATEUSERID = #{record.createuserid,jdbcType=VARCHAR},
      CREATEUSERNAME = #{record.createusername,jdbcType=VARCHAR},
      UPDATETIME = #{record.updatetime,jdbcType=TIMESTAMP},
      UPDATEUSERID = #{record.updateuserid,jdbcType=VARCHAR},
      UPDATEUSERNAME = #{record.updateusername,jdbcType=VARCHAR},
      OPERATETIME = #{record.operatetime,jdbcType=TIMESTAMP},
      OPERATESTATE = #{record.operatestate,jdbcType=VARCHAR},
      SYNCSTATE = #{record.syncstate,jdbcType=VARCHAR},
      TEMPLATE = #{record.template,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pe_wordtemplate
    set WORDTEMPLATEID = #{record.wordtemplateid,jdbcType=VARCHAR},
      FLOWID = #{record.flowid,jdbcType=VARCHAR},
      TITLE = #{record.title,jdbcType=VARCHAR},
      SORT = #{record.sort,jdbcType=DECIMAL},
      CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      CREATEUSERID = #{record.createuserid,jdbcType=VARCHAR},
      CREATEUSERNAME = #{record.createusername,jdbcType=VARCHAR},
      UPDATETIME = #{record.updatetime,jdbcType=TIMESTAMP},
      UPDATEUSERID = #{record.updateuserid,jdbcType=VARCHAR},
      UPDATEUSERNAME = #{record.updateusername,jdbcType=VARCHAR},
      OPERATETIME = #{record.operatetime,jdbcType=TIMESTAMP},
      OPERATESTATE = #{record.operatestate,jdbcType=VARCHAR},
      SYNCSTATE = #{record.syncstate,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.px.partybuild.model.PeWordtemplate">
    update pe_wordtemplate
    <set>
      <if test="flowid != null">
        FLOWID = #{flowid,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        SORT = #{sort,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuserid != null">
        CREATEUSERID = #{createuserid,jdbcType=VARCHAR},
      </if>
      <if test="createusername != null">
        CREATEUSERNAME = #{createusername,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuserid != null">
        UPDATEUSERID = #{updateuserid,jdbcType=VARCHAR},
      </if>
      <if test="updateusername != null">
        UPDATEUSERNAME = #{updateusername,jdbcType=VARCHAR},
      </if>
      <if test="operatetime != null">
        OPERATETIME = #{operatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="operatestate != null">
        OPERATESTATE = #{operatestate,jdbcType=VARCHAR},
      </if>
      <if test="syncstate != null">
        SYNCSTATE = #{syncstate,jdbcType=VARCHAR},
      </if>
      <if test="template != null">
        TEMPLATE = #{template,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where WORDTEMPLATEID = #{wordtemplateid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.px.partybuild.model.PeWordtemplate">
    update pe_wordtemplate
    set FLOWID = #{flowid,jdbcType=VARCHAR},
      TITLE = #{title,jdbcType=VARCHAR},
      SORT = #{sort,jdbcType=DECIMAL},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      CREATEUSERID = #{createuserid,jdbcType=VARCHAR},
      CREATEUSERNAME = #{createusername,jdbcType=VARCHAR},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      UPDATEUSERID = #{updateuserid,jdbcType=VARCHAR},
      UPDATEUSERNAME = #{updateusername,jdbcType=VARCHAR},
      OPERATETIME = #{operatetime,jdbcType=TIMESTAMP},
      OPERATESTATE = #{operatestate,jdbcType=VARCHAR},
      SYNCSTATE = #{syncstate,jdbcType=VARCHAR},
      TEMPLATE = #{template,jdbcType=LONGVARCHAR}
    where WORDTEMPLATEID = #{wordtemplateid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.px.partybuild.model.PeWordtemplate">
    update pe_wordtemplate
    set FLOWID = #{flowid,jdbcType=VARCHAR},
      TITLE = #{title,jdbcType=VARCHAR},
      SORT = #{sort,jdbcType=DECIMAL},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      CREATEUSERID = #{createuserid,jdbcType=VARCHAR},
      CREATEUSERNAME = #{createusername,jdbcType=VARCHAR},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      UPDATEUSERID = #{updateuserid,jdbcType=VARCHAR},
      UPDATEUSERNAME = #{updateusername,jdbcType=VARCHAR},
      OPERATETIME = #{operatetime,jdbcType=TIMESTAMP},
      OPERATESTATE = #{operatestate,jdbcType=VARCHAR},
      SYNCSTATE = #{syncstate,jdbcType=VARCHAR}
    where WORDTEMPLATEID = #{wordtemplateid,jdbcType=VARCHAR}
  </update>
</mapper>