<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.px.partybuild.mapper.UsPartyduesDetailMapper">
  <resultMap id="BaseResultMap" type="com.px.partybuild.model.UsPartyduesDetail">
    <id column="DETAILID" jdbcType="VARCHAR" property="detailid" />
    <result column="PARTYDUESID" jdbcType="VARCHAR" property="partyduesid" />
    <result column="MONTH" jdbcType="DECIMAL" property="month" />
    <result column="BASENUMBER" jdbcType="VARCHAR" property="basenumber" />
    <result column="MONEY" jdbcType="DECIMAL" property="money" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="CREATEUSERID" jdbcType="VARCHAR" property="createuserid" />
    <result column="CREATEUSERNAME" jdbcType="VARCHAR" property="createusername" />
    <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="UPDATEUSERID" jdbcType="VARCHAR" property="updateuserid" />
    <result column="UPDATEUSERNAME" jdbcType="VARCHAR" property="updateusername" />
    <result column="OPERATETIME" jdbcType="TIMESTAMP" property="operatetime" />
    <result column="OPERATESTATE" jdbcType="VARCHAR" property="operatestate" />
    <result column="SYNCSTATE" jdbcType="VARCHAR" property="syncstate" />
    <result column="REMARKS" jdbcType="VARCHAR" property="remarks" />
    <result column="SPECIALEXPENSES" jdbcType="DECIMAL" property="specialexpenses" />
    <result column="PARTYCODE" jdbcType="VARCHAR" property="partycode" />
    <result column="payState" jdbcType="INTEGER" property="paystate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    DETAILID, PARTYDUESID, MONTH, BASENUMBER, MONEY, CREATETIME, CREATEUSERID, CREATEUSERNAME, 
    UPDATETIME, UPDATEUSERID, UPDATEUSERNAME, OPERATETIME, OPERATESTATE, SYNCSTATE, REMARKS, 
    SPECIALEXPENSES, PARTYCODE, payState
  </sql>
  <select id="selectByExample" parameterType="com.px.partybuild.model.UsPartyduesDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from us_partydues_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from us_partydues_detail
    where DETAILID = #{detailid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from us_partydues_detail
    where DETAILID = #{detailid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.px.partybuild.model.UsPartyduesDetailExample">
    delete from us_partydues_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.px.partybuild.model.UsPartyduesDetail">
    insert into us_partydues_detail (DETAILID, PARTYDUESID, MONTH, 
      BASENUMBER, MONEY, CREATETIME, 
      CREATEUSERID, CREATEUSERNAME, UPDATETIME, 
      UPDATEUSERID, UPDATEUSERNAME, OPERATETIME, 
      OPERATESTATE, SYNCSTATE, REMARKS, 
      SPECIALEXPENSES, PARTYCODE, payState
      )
    values (#{detailid,jdbcType=VARCHAR}, #{partyduesid,jdbcType=VARCHAR}, #{month,jdbcType=DECIMAL}, 
      #{basenumber,jdbcType=VARCHAR}, #{money,jdbcType=DECIMAL}, #{createtime,jdbcType=TIMESTAMP}, 
      #{createuserid,jdbcType=VARCHAR}, #{createusername,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{updateuserid,jdbcType=VARCHAR}, #{updateusername,jdbcType=VARCHAR}, #{operatetime,jdbcType=TIMESTAMP}, 
      #{operatestate,jdbcType=VARCHAR}, #{syncstate,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, 
      #{specialexpenses,jdbcType=DECIMAL}, #{partycode,jdbcType=VARCHAR}, #{paystate,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.px.partybuild.model.UsPartyduesDetail">
    insert into us_partydues_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="detailid != null">
        DETAILID,
      </if>
      <if test="partyduesid != null">
        PARTYDUESID,
      </if>
      <if test="month != null">
        MONTH,
      </if>
      <if test="basenumber != null">
        BASENUMBER,
      </if>
      <if test="money != null">
        MONEY,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="createuserid != null">
        CREATEUSERID,
      </if>
      <if test="createusername != null">
        CREATEUSERNAME,
      </if>
      <if test="updatetime != null">
        UPDATETIME,
      </if>
      <if test="updateuserid != null">
        UPDATEUSERID,
      </if>
      <if test="updateusername != null">
        UPDATEUSERNAME,
      </if>
      <if test="operatetime != null">
        OPERATETIME,
      </if>
      <if test="operatestate != null">
        OPERATESTATE,
      </if>
      <if test="syncstate != null">
        SYNCSTATE,
      </if>
      <if test="remarks != null">
        REMARKS,
      </if>
      <if test="specialexpenses != null">
        SPECIALEXPENSES,
      </if>
      <if test="partycode != null">
        PARTYCODE,
      </if>
      <if test="paystate != null">
        payState,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="detailid != null">
        #{detailid,jdbcType=VARCHAR},
      </if>
      <if test="partyduesid != null">
        #{partyduesid,jdbcType=VARCHAR},
      </if>
      <if test="month != null">
        #{month,jdbcType=DECIMAL},
      </if>
      <if test="basenumber != null">
        #{basenumber,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuserid != null">
        #{createuserid,jdbcType=VARCHAR},
      </if>
      <if test="createusername != null">
        #{createusername,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuserid != null">
        #{updateuserid,jdbcType=VARCHAR},
      </if>
      <if test="updateusername != null">
        #{updateusername,jdbcType=VARCHAR},
      </if>
      <if test="operatetime != null">
        #{operatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="operatestate != null">
        #{operatestate,jdbcType=VARCHAR},
      </if>
      <if test="syncstate != null">
        #{syncstate,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="specialexpenses != null">
        #{specialexpenses,jdbcType=DECIMAL},
      </if>
      <if test="partycode != null">
        #{partycode,jdbcType=VARCHAR},
      </if>
      <if test="paystate != null">
        #{paystate,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.px.partybuild.model.UsPartyduesDetailExample" resultType="java.lang.Long">
    select count(*) from us_partydues_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update us_partydues_detail
    <set>
      <if test="record.detailid != null">
        DETAILID = #{record.detailid,jdbcType=VARCHAR},
      </if>
      <if test="record.partyduesid != null">
        PARTYDUESID = #{record.partyduesid,jdbcType=VARCHAR},
      </if>
      <if test="record.month != null">
        MONTH = #{record.month,jdbcType=DECIMAL},
      </if>
      <if test="record.basenumber != null">
        BASENUMBER = #{record.basenumber,jdbcType=VARCHAR},
      </if>
      <if test="record.money != null">
        MONEY = #{record.money,jdbcType=DECIMAL},
      </if>
      <if test="record.createtime != null">
        CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createuserid != null">
        CREATEUSERID = #{record.createuserid,jdbcType=VARCHAR},
      </if>
      <if test="record.createusername != null">
        CREATEUSERNAME = #{record.createusername,jdbcType=VARCHAR},
      </if>
      <if test="record.updatetime != null">
        UPDATETIME = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateuserid != null">
        UPDATEUSERID = #{record.updateuserid,jdbcType=VARCHAR},
      </if>
      <if test="record.updateusername != null">
        UPDATEUSERNAME = #{record.updateusername,jdbcType=VARCHAR},
      </if>
      <if test="record.operatetime != null">
        OPERATETIME = #{record.operatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.operatestate != null">
        OPERATESTATE = #{record.operatestate,jdbcType=VARCHAR},
      </if>
      <if test="record.syncstate != null">
        SYNCSTATE = #{record.syncstate,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null">
        REMARKS = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.specialexpenses != null">
        SPECIALEXPENSES = #{record.specialexpenses,jdbcType=DECIMAL},
      </if>
      <if test="record.partycode != null">
        PARTYCODE = #{record.partycode,jdbcType=VARCHAR},
      </if>
      <if test="record.paystate != null">
        payState = #{record.paystate,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update us_partydues_detail
    set DETAILID = #{record.detailid,jdbcType=VARCHAR},
      PARTYDUESID = #{record.partyduesid,jdbcType=VARCHAR},
      MONTH = #{record.month,jdbcType=DECIMAL},
      BASENUMBER = #{record.basenumber,jdbcType=VARCHAR},
      MONEY = #{record.money,jdbcType=DECIMAL},
      CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      CREATEUSERID = #{record.createuserid,jdbcType=VARCHAR},
      CREATEUSERNAME = #{record.createusername,jdbcType=VARCHAR},
      UPDATETIME = #{record.updatetime,jdbcType=TIMESTAMP},
      UPDATEUSERID = #{record.updateuserid,jdbcType=VARCHAR},
      UPDATEUSERNAME = #{record.updateusername,jdbcType=VARCHAR},
      OPERATETIME = #{record.operatetime,jdbcType=TIMESTAMP},
      OPERATESTATE = #{record.operatestate,jdbcType=VARCHAR},
      SYNCSTATE = #{record.syncstate,jdbcType=VARCHAR},
      REMARKS = #{record.remarks,jdbcType=VARCHAR},
      SPECIALEXPENSES = #{record.specialexpenses,jdbcType=DECIMAL},
      PARTYCODE = #{record.partycode,jdbcType=VARCHAR},
      payState = #{record.paystate,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.px.partybuild.model.UsPartyduesDetail">
    update us_partydues_detail
    <set>
      <if test="partyduesid != null">
        PARTYDUESID = #{partyduesid,jdbcType=VARCHAR},
      </if>
      <if test="month != null">
        MONTH = #{month,jdbcType=DECIMAL},
      </if>
      <if test="basenumber != null">
        BASENUMBER = #{basenumber,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        MONEY = #{money,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuserid != null">
        CREATEUSERID = #{createuserid,jdbcType=VARCHAR},
      </if>
      <if test="createusername != null">
        CREATEUSERNAME = #{createusername,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuserid != null">
        UPDATEUSERID = #{updateuserid,jdbcType=VARCHAR},
      </if>
      <if test="updateusername != null">
        UPDATEUSERNAME = #{updateusername,jdbcType=VARCHAR},
      </if>
      <if test="operatetime != null">
        OPERATETIME = #{operatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="operatestate != null">
        OPERATESTATE = #{operatestate,jdbcType=VARCHAR},
      </if>
      <if test="syncstate != null">
        SYNCSTATE = #{syncstate,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="specialexpenses != null">
        SPECIALEXPENSES = #{specialexpenses,jdbcType=DECIMAL},
      </if>
      <if test="partycode != null">
        PARTYCODE = #{partycode,jdbcType=VARCHAR},
      </if>
      <if test="paystate != null">
        payState = #{paystate,jdbcType=INTEGER},
      </if>
    </set>
    where DETAILID = #{detailid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.px.partybuild.model.UsPartyduesDetail">
    update us_partydues_detail
    set PARTYDUESID = #{partyduesid,jdbcType=VARCHAR},
      MONTH = #{month,jdbcType=DECIMAL},
      BASENUMBER = #{basenumber,jdbcType=VARCHAR},
      MONEY = #{money,jdbcType=DECIMAL},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      CREATEUSERID = #{createuserid,jdbcType=VARCHAR},
      CREATEUSERNAME = #{createusername,jdbcType=VARCHAR},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      UPDATEUSERID = #{updateuserid,jdbcType=VARCHAR},
      UPDATEUSERNAME = #{updateusername,jdbcType=VARCHAR},
      OPERATETIME = #{operatetime,jdbcType=TIMESTAMP},
      OPERATESTATE = #{operatestate,jdbcType=VARCHAR},
      SYNCSTATE = #{syncstate,jdbcType=VARCHAR},
      REMARKS = #{remarks,jdbcType=VARCHAR},
      SPECIALEXPENSES = #{specialexpenses,jdbcType=DECIMAL},
      PARTYCODE = #{partycode,jdbcType=VARCHAR},
      payState = #{paystate,jdbcType=INTEGER}
    where DETAILID = #{detailid,jdbcType=VARCHAR}
  </update>
</mapper>