<!--<style>
    .mt_topic {
        display: flex;
        flex-flow: wrap;
    }

    .col_margin_bottom_0 {
        margin-bottom: 0px !important;
    }

    .panel-danger {
        border: 1px solid #ddd !important;;
    }

    .panel-group .panel-danger .panel-title {
        background-color: #ddd !important;
        color: #F44336;
    }

</style>
<div class="card">
    <titlemenu data-parentno="parentUrl"></titlemenu>
    <div activate-input activate-select class="body">
        <form class="form-horizontal" role="form" name="editForm" novalidate>
            <div class="gt_panel">
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 form-control-label col_margin_bottom_0">
                        <label>计划名称 :</label>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col_margin_bottom_0">
                        <div class="form-group form-group-group">
                            <span>{{changevm.name}}</span>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 form-control-label col_margin_bottom_0">
                        <label>发送单位 :</label>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col_margin_bottom_0">
                        <div class="form-group form-group-group">
                            <span>{{changevm.sendDepartmentName}}</span>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 form-control-label col_margin_bottom_0">
                        <label>要求 :</label>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col_margin_bottom_0">
                        <div class="form-group form-group-group">
                            <span>{{changevm.requirement}}</span>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 form-control-label col_margin_bottom_0">
                        <label>学习计划类型 :</label>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 col_margin_bottom_0">
                        <div class="form-group form-group-group">
                            <span>{{changevm.typeName}}</span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 form-control-label col_margin_bottom_0">
                        <label>完成日期 :</label>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 col_margin_bottom_0">
                        <div class="form-group form-group-group">
                            <span>{{changevm.endTime}}</span>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 form-control-label col_margin_bottom_0">
                        <label>计划内容 :</label>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col_margin_bottom_0">
                        <div class="form-group form-group-group">
                            <span ng-bind-html="changevm.content"></span>
                        </div>
                    </div>
                </div>
                <div class="table-responsive list-table-panel" style="font-size: 16px; margin-bottom: 20px;">
                    <bsfiles ng-model="reqFileModel"/>
                </div>
                <div class="table-responsive list-table-panel" style="font-size: 16px">
                    <div class="list-table-title">
                        <div class="table-title">
                            接收党委
                        </div>
                        <div class="table-tool">
                            <button type="button" ng-if="typeMod!='d'" class="btn btn-primary dropdown-toggle"
                                    title="全部" ng-click="selectPartyCommitteeFull()">
                                <span></span>全部
                            </button>
                            <button type="button" ng-if="typeMod!='d'" class="btn btn-primary dropdown-toggle"
                                    title="选择" ng-click="selectPartyCommittee()">
                                <span></span>选择
                            </button>
                        </div>
                    </div>
                    <div class="outoflow" style="max-height: 300px;">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable text-nowrap">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>党委名称</th>
                                <th>接收人(秘书)</th>
                                <th>接收时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="it in receiveDWs">
                                <th scope="row">{{$index+1}}</th>
                                <th>{{it.dwName}}</th>
                                <th>{{it.secretaryNames}}</th>
                                <th>{{it.receiveTime | date:'yyyy-MM-dd'}}</th>
                            </tr>
                            <tr ng-if="receiveDWs.length<=0">
                                <td colspan="4" style="text-align:center">暂无数据</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="form_foot">
                <button type="button" class="btn btn-default" ng-click="pagechange();">返回</button>
            </div>
        </form>
    </div>
</div>-->

<titlemenu></titlemenu>
<div class="dj-card">
    <div class="dj-body" activate-input activate-select>
        <form role="form" name="editForm" novalidate>
            <div class="dj-formtable">
                <table class="dj-table">
                    <tr>
                        <th>计划名称</th>
                        <td colspan="3">
                            {{changevm.name}}
                        </td>
                    </tr>
                    <tr>
                        <th>发送单位</th>
                        <td colspan="3">
                            {{changevm.sendDepartmentName}}
                        </td>
                    </tr>
                    <tr>
                        <th>要求</th>
                        <td colspan="3">
                            {{changevm.requirement}}
                        </td>
                    </tr>
                    <tr>
                        <th>学习计划类型</th>
                        <td>
                            {{changevm.typeName}}
                        </td>
                        <th>完成日期</th>
                        <td>
                            {{changevm.endTime}}
                        </td>
                    </tr>
                    <tr>
                        <th>计划内容</th>
                        <td colspan="3">
                            <span ng-bind-html="changevm.content"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="dj-formtable">
                <div class="table-responsive list-table-panel">
                    <div class="list-table-title">
                        <div class="table-title">
                            接收党总支
                        </div>
                        <div class="table-tool">
                            <button type="button" ng-if="typeMod!='d'" class="btn btn-primary dropdown-toggle"
                                    title="全部"
                                    ng-click="selectPartyCommitteeFull()">
                                <span></span>全部
                            </button>
                            <button type="button" ng-if="typeMod!='d'" class="btn btn-primary dropdown-toggle"
                                    title="选择"
                                    ng-click="selectPartyCommittee()">
                                <span></span>选择
                            </button>
                        </div>
                    </div>
                    <div class="outoflow" style="max-height: 300px;margin-bottom: 0px;">
                        <table class="table table-bordered" style="margin-bottom: 0px;">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>党总支名称</th>
                                <!--<th>接收人(秘书)</th>-->
                                <!--<th>接收时间</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="it in receiveDWs">
                                <th scope="row">{{$index+1}}</th>
                                <th>{{it.dwName}}</th>
                                <!--<th>{{it.secretaryNames}}</th>-->
                                <!--<th>{{it.receiveTime | date:'yyyy-MM-dd'}}</th>-->
                            </tr>
                            <tr ng-if="receiveDWs.length<=0">
                                <td colspan="4" style="text-align:center">暂无数据</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <bsfiles ng-model="reqFileModel"/>

            <div class="form_foot">
                <button type="button" class="btn btn-default" ng-click="pagechange();">返回</button>
            </div>
        </form>
    </div>
</div>