<titlemenu></titlemenu>
<div class="dj-list">
    <div class="dj-list-body">
        <div party-tree data-selectdzzdm="selectparams.dzzdm" data-selectdzzmc="selectparams.dzzmc"
             data-userid="selectparams.userid" data-isshowxz="0"
             data-onlyshowdw="selectparams.onlyshow_dw"
             data-showtogglebtn="true"
             data-zzfbtype="selectparams.zzfbType"
             data-isunfold="selectparams.isunfold"
             data-defaultselected="selectparams.defaultselected"
        ></div>
        <div class="dj-list-content">
            <div class="card">
                <div activate-input activate-select class="header search-header">
                    <div fold-partytree data-isunfold="selectparams.isunfold"></div>
                    <div class="search-param-panel">
                        <div class="search-input">
                            <form class="form-horizontal">
                                <div class="row clearfix form-inline">
                                    <div class="col-lg-2 col-md-2 dj-label">
                                        <label>当前选中组织</label>
                                    </div>
                                    <div class="col-lg-2 col-md-2">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <div class="input-group input-group-search">
                                                    <input name="selectdzzmc" type="text" style="min-width: 90px"
                                                           ng-model="selectparams.dzzmc" class="form-control"
                                                           ng-disabled="true"/>
                                                    <span class="input-group-addon"
                                                          ng-click="setisunfold()">选择</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 dj-label">
                                        <label>姓名</label>
                                    </div>
                                    <div class="col-lg-2 col-md-2">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input name="userName" class="form-control" type="text"
                                                       ng-keypress="($event.which === 13)?search():0"
                                                       ng-model="selectparams.userName"
                                                       placeholder=""/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 dj-label">
                                        <label>所在党总支</label>
                                    </div>
                                    <div class="col-lg-2 col-md-2">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input name="dwId" class="form-control" type="text"
                                                       ng-keypress="($event.which === 13)?search():0"
                                                       ng-model="selectparams.dwId"
                                                       placeholder=""/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix form-inline" ng-show="isShow">
                                    <div class="col-lg-2 col-md-2 dj-label">
                                        <label>学习开始时间</label>
                                    </div>
                                    <div class="col-lg-2 col-md-2">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" name="studySTime" ng-change="search()"
                                                       ng-model="selectparams.studySTime"
                                                       class="form-control"
                                                       format="yyyy-mm-dd"
                                                       data-min-view="3" bs-datetimepicker
                                                       ng-required="true"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 dj-label">
                                        <label>学习结束时间</label>
                                    </div>
                                    <div class="col-lg-2 col-md-2">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" name="studyETime" ng-change="search()"
                                                       ng-model="selectparams.studyETime"
                                                       class="form-control"
                                                       format="yyyy-mm-dd"
                                                       data-min-view="3" bs-datetimepicker
                                                       ng-required="true"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="search-btn" style="margin-right: 20px;">
                            <div style="min-width: 13em">
                                <span class="moreSpan" ng-click="isShowClick()"
                                      style='padding-right:1em;cursor:pointer;'>{{moreTxt}}<i class="material-icons"
                                                                                              style="position: relative;top:7px;">{{isShow ? 'expand_less' : 'expand_more'}}</i></span>
                                <button
                                        class="btn btn-default1"
                                        ng-click="search()">查询
                                </button>
                                <button class="btn btn-default1 btn-reset"
                                        ng-click="reset()">重置
                                </button>
                                <!--<button role-permission-code="LearningSituationList.btnAdd" class="btn btn-default1"-->
                                <!--ng-click="exportData()">导出-->
                                <!--</button>-->
                            </div>
                        </div>
                    </div>
                    <div class="search-btn" style="margin-right: 20px;">
                        <!--<div class="select-party">当前选中组织：{{selectparams.dzzmc}}</div>-->
                        <div style="float: right">
                            <button role-permission-code="LearningSituationList.btnAdd" class="btn btn-default1"
                                    ng-click="exportData()">导出
                            </button>
                        </div>
                    </div>
                </div>
                <div class="body" style="min-height:400px;">
                    <div class="zero-list-table-panel">
                        <div class="zero-source-table-div">
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable text-nowrap">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>姓名</th>
                                    <th>学习方案</th>
                                    <th>学习所在的党总支</th>
                                    <th>学习计划类型</th>
                                    <th>学习时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="it in dataList">
                                    <td scope="row" class="text-center">
                                        {{selectparams.pagesize*(selectparams.pageindex-1)+$index+1}}
                                    </td>
                                    <td>{{it.userName}}</td>
                                    <td>{{it.caseName}}</td>
                                    <td>{{it.dwName}}</td>
                                    <td class="text-center">{{it.typeName}}</td>
                                    <td class="text-center">{{it.studyTime | date:'yyyy-MM-dd'}}</td>
                                </tr>
                                <tr ng-if="dataList.length<=0">
                                    <td colspan="7" style="text-align:center">暂无数据</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="zero-target-table-div">
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable text-nowrap">
                                <thead>
                                <tr>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="it in dataList" zero-table-height>
                                    <td class="text-center">
                                        <button class="btn td-btn bg-light-green waves-effect"
                                                ng-click="detailsData(it.faid)"
                                                title="查看方案">
                                            查看方案
                                        </button>
                                    </td>
                                </tr>
                                <tr ng-if="pageInfo.ptotal==0">
                                    <td colspan="1" style="text-align:center">无</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <pagination data-pageindex="selectparams.pageindex" data-pagesize="selectparams.pagesize"
                                data-ptotal="pageInfo.ptotal"></pagination>
                </div>
            </div>
        </div>
    </div>
</div>