<div activate-input activate-select class="header search-header">
    <div fold-partytree data-isunfold="selectparams.isunfold"></div>
    <div class="search-param-panel">
        <div class="search-input">
            <form class="form-horizontal">
                <div class="row clearfix form-inline">
                    <div class="col-lg-2 col-md-2 dj-label">
                        <label>当前选中组织</label>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <div class="form-group">
                            <div class="form-line">
                                <div class="input-group input-group-search">
                                    <input name="selectdzzmc" type="text" style="min-width: 90px"
                                           ng-model="selectparams.selectdzzmc" class="form-control"
                                           ng-disabled="true"/>
                                    <span class="input-group-addon"
                                          ng-click="setisunfold()">选择</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 dj-label">
                        <label>岗位名称</label>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <div class="form-group">
                            <div class="form-line">
                                <input class="form-control" type="text"
                                       ng-model="post_selectparams.name"
                                       placeholder="" ng-keypress="($event.which === 13)?search(1):0"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 dj-label">
                        <label>岗位人员</label>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <div class="form-group">
                            <div class="form-line">
                                <input class="form-control" type="text" ng-keypress="($event.which === 13)?search(1):0"
                                       ng-model="post_selectparams.headUserName"
                                       placeholder=""/>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="search-btn" style="margin-right: 20px;">
            <div style="min-width: 13em">
                <!--<span class="moreSpan" ng-click="isShowClick()" style='padding-right:2em;cursor:pointer;'>{{moreTxt}}<i class="material-icons" style="position: relative;top:7px;">{{isShow ? 'expand_less' : 'expand_more'}}</i></span>-->
                <button  class="btn btn-default1"
                        ng-click="search(1)">查询
                </button>
                <button  class="btn btn-default1 btn-reset"
                        ng-click="reset()">重置
                </button>
                <!--<button role-permission-code="postareaList.btnAdd" class="btn btn-default1"-->
                <!--ng-click="addData(1)">新增-->
                <!--</button>-->
            </div>
        </div>
    </div>
    <div class="search-btn" style="margin-right: 20px;">
        <!--<div selected-partyname data-selectdzzmc="selectparams.selectdzzmc"></div>-->
        <div style="float: right">
            <button role-permission-code="postareaList.btnAdd" class="btn btn-default1"
                    ng-click="addPost()">新增
            </button>
            <!--<button class="btn btn-default1"
                    ng-click="cgjqSettingProject(1)">考核标准配置
            </button>-->
        </div>
    </div>
</div>
<div class="body">
    <div class="table-responsive list-table-panel">
        <table class="table table-bordered table-striped table-hover js-basic-example dataTable text-nowrap">
            <thead>
            <tr>
                <th>序号</th>
                <th>岗位名称</th>
                <th>岗位人员</th>
                <th>所在党支部</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="it in post_dataList">
                <td scope="row" class="text-center">
                    {{post_selectparams.pagesize*(post_selectparams.pageindex-1)+$index+1}}
                </td>
                <td>{{it.NAME}}</td>
                <td>{{it.HEADUSERNAME}}</td>
                <td>{{it.PARTYNAME}}</td>
                <td class="text-center">{{it.CREATETIME | date:'yyyy-MM-dd HH:mm'}}</td>
                <td class="text-center">
                    <button role-permission-code="postareaList.btnUpdate"
                            class="btn td-btn bg-light-green waves-effect"
                            ng-click="editData(it.SEETINGPOSTAREAID,it.CGJQTYPE)"
                            title="修改">
                        修改
                    </button>
                    <button role-permission-code="postareaList.btnDelete"
                            class="btn td-btn bg-pink waves-effect"
                            ng-click="deleteData(it.SEETINGPOSTAREAID,it.CGJQTYPE)" title="删除">
                        删除
                    </button>
                </td>
            </tr>
            <tr ng-if="post_dataList.length<=0">
                <td colspan="6" style="text-align:center">暂无数据</td>
            </tr>
            </tbody>
        </table>
    </div>
    <pagination data-pageindex="post_selectparams.pageindex" data-pagesize="post_selectparams.pagesize"
                data-ptotal="post_pageInfo.ptotal"></pagination>
</div>